<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/datepicker.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet"> {% block head %} {% endblock %}
</head>

<body style="background-color: #f1f1f1; font-family: Poppins;" class="text-zinc-700">
    <div class="sticky top-0 z-50">
        <div class="py-4 px-8 md:px-12 lg:px-20 flex justify-between items-center shadow-md from-emerald-600 via-teal-600 to-green-700 bg-gradient-to-r">
            <h1 onclick="window.open('/', '_self')" class="cursor-pointer font-semibold text-lg md:text-xl text-teal-100 font-sans">AUTHENTIC MYANMAR</h1>
            <div class="rounded-2xl py-2 px-4 bg-teal-500 hidden lg:block text-base">
                <button onclick="window.open('/', '_self')" class="cursor-pointer mx-3 text-white hover:text-zinc-200  font-bold">Home <span class="ms-1 fa fa-home"></span></button>
                <button onclick="window.open('/places', '_self')" class="cursor-pointer mx-3 text-white hover:text-zinc-200  font-bold">Places to go <span class="ms-1 fa fa-star"></span></button>
                <button onclick="window.open('/to_dos', '_self')" class="cursor-pointer mx-3 text-white hover:text-zinc-200  font-bold">Things To do <span class="ms-1 fa-solid fa-list-check"></span></button>
                <button onclick="window.open('/blogs', '_self')" class="cursor-pointer mx-3 text-white hover:text-zinc-200  font-bold">Blogs <span class="ms-1 fa-solid fa-pen"></span></button>
            </div>
            <div class="hidden lg:block text-base">
                {% if not signed_in %}
                <button onclick="window.open('/login', '_self')" class="cursor-pointer mx-6 text-white hover:text-zinc-200 font-bold">Login</button>
                <button onclick="window.open('/register', '_self')" class="bg-zinc-100 hover:bg-zinc-200 cursor-pointer px-4 py-2 font-bold rounded-2xl">Sign Up</button> {% else %}
                <button onclick="window.open('/profile', '_self')" class="bg-zinc-100 hover:bg-zinc-200 cursor-pointer px-4 py-2 font-bold rounded-2xl">Profile <span class="fa fa-user"></span></button>
                <button onclick="window.open('/logout', '_self')" class="cursor-pointer mx-6 text-white hover:text-zinc-200 font-bold">Logout</button> {% endif %}
            </div>
            <div class="block lg:hidden">
                <button class="bg-zinc-100 hover:bg-zinc-200 cursor-pointer px-4 py-2 font-bold rounded-2xl" id="menu">Menu</button>
            </div>
        </div>
        <div id="mobileMenu" class="shadow-md hidden lg:hidden divide-y divide-slate-400 flex-col py-4 px-8 md:px-12 lg:px-20 from-emerald-600 via-teal-600 to-green-700 bg-gradient-to-r">
            <div class="mb-4">
                <button onclick="window.open('/', '_self')" class="block mt-4 cursor-pointer text-white hover:text-zinc-200  font-bold">Home <span class="ms-1 fa fa-home"></span></button>
                <button onclick="window.open('/places', '_self')" class="block mt-4 cursor-pointer text-white hover:text-zinc-200  font-bold">Places to go <span class="ms-1 fa fa-star"></span></button>
                <button onclick="window.open('/to_do', '_self')" class="block mt-4 cursor-pointer text-white hover:text-zinc-200  font-bold">Things to do <span class="ms-1 fa-solid fa-list-check"></span></button>
                <button onclick="window.open('/blogs', '_self')" class="block mt-4 cursor-pointer text-white hover:text-zinc-200  font-bold">Blogs <span class="ms-1 fa-solid fa-pen"></span></button>
            </div>
            <div class="mt-2">
                {% if not signed_in %}
                <button onclick="window.open('/login', '_self')" class="block mt-4 cursor-pointer me-6 text-white hover:text-zinc-200 font-bold">Login</button>
                <button onclick="window.open('/register', '_self')" class="block mt-4 bg-zinc-100 hover:bg-zinc-200 cursor-pointer px-4 py-2 font-bold rounded-2xl">Sign Up</button> {% else %}

                <button onclick="window.open('/profile', '_self')" class="block mt-4 bg-zinc-100 hover:bg-zinc-200 cursor-pointer px-4 py-2 font-bold rounded-2xl">Profile <span class="fa fa-user"></span></button> {% endif %}</div>
            <button onclick="window.open('/logout', '_self')" class="block mt-4 cursor-pointer me-6 text-white hover:text-zinc-200 font-bold">Logout</button>
        </div>
    </div>
    {% block video %} {% endblock %}
    <div class="px-8 md:px-12 lg:px-20 ">
        <div onclick="window.open('/map', '_self')" class="bg-emerald-500 my-8 items-center cursor-pointer text-white hover:bg-emerald-400 p-8 flex flex-row flex-start">
            <div class="fa fa-map-location-dot text-4xl me-8"></div>
            <div>
                <p>Try our new feature, finding routes!</p>
            </div>
        </div>
        {% block content %} {% endblock %}
    </div>
    <div class=" px-8 md:px-12 lg:px-20 py-12 bg-slate-900">
        <div class="flex flex-col md:flex-row flex-wrap justify-between text-white">
            <ul class="mt-12">
                <li class="mb-6 text-zinc-500">Useful Links</li>
                <li class="mt-2 cursor-pointer" onclick="window.open('/', '_self')">Home</li>
                <li class="mt-2 cursor-pointer" onclick="window.open('/places', '_self')">Places to go</li>
                <li class="mt-2 cursor-pointer" onclick="window.open('/to_dos', '_self')">Things to do</li>
                <li class="mt-2 cursor-pointer" onclick="window.open('/blogs', '_self')"> Blogs</li>
            </ul>
            <ul class="mt-12">
                <li class="mb-6 text-zinc-500">Your Account</li>
                <li class="mt-2 cursor-pointer" onclick="window.open('/login', '_self')">Login</li>
                <li class="mt-2 cursor-pointer" onclick="window.open('/register', '_self')">Sign Up</li>
            </ul>
            <ul class="mt-12">
                <li class="mb-6 text-zinc-500">Info</li>
                <li class="mt-2 cursor-pointer" onclick="window.open('/visa', '_self')">Applying Visa</li>
                <!-- <li class="mt-2 cursor-pointer" onclick="window.open('/how-to-travel', '_self')">How to travel</li> -->
            </ul>

            <ul class="mt-12">
                <li class="mb-6 text-zinc-500">Blogs</li>
                {% for blog in blogs_foot %}
                <li class="mt-2 cursor-pointer" onclick="window.open('/blog/{{blog.id}}', '_self')">{{blog.title}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#menu ").click(function() {
                $("#mobileMenu ").slideToggle(300)
            });
        });
    </script>
    {% block script %} {% endblock %}
</body>

</html>