{% extends "base.html" %} {% block content %}
<div class="my-8 shadow-md rounded-xl bg-white p-8">
    <h1 class="mb-12 text-xl font-bold">{{title}}</h1>
    {% for blog in blogs %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="rounded-xl bg-white grid grid-cols-1 gap-4">
            <img src="{{blog.image1}}" class="w-full">
            <div class="">
                <p class="text-emerald-600">{{blog.title}}</p>
            </div>
            <button onclick="window.open('/blog/{{blog.id}}', '_self')" class="px-8 py-2 bg-emerald-600 hover:bg-emerald-400 text-white">Read More</button>
        </div>
    </div>
    {% endfor %}
</div>{% endblock %} {% block script %} {% endblock %}