{% extends "base.html" %} {% block video %}
<div class="relative">
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <div class="bg-stone-700 shadow-md p-8 rounded-xl">
            <h2 class="text-white drop-shadow-xl p-2 text-xl md:text-4xl font-bold">Hotel Name</h2>
            <p class="text-stone-300 mt-2">
                <span class="fa fa-map-location-dot text-emerald-600"></span> City name</p>
            <h2 class="mt-2 text-white"><span class="fa fa-star text-xl text-amber-400"></span> 4.5</h2>
        </div>
    </div>
    <img class="w-full object-cover h-auto lg:h-[400px]" src="https://static.independent.co.uk/2023/03/24/09/Best%20New%20York%20boutique%20hotels.jpg?width=1200">
</div> {% endblock %} {% block content %}
<div class="bg-white w-full md:w-96 mx-auto p-8 mb-8 rounded-b-xl shadow-md">
    <div>
        <h1 class="text-xl mb-2 font-bold">MMK 40000 / day</h1>
        <button data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-emerald-600 text-white block hover:bg-emerald-400 rounded-xl text-xl px-12 py-4">Book Now</button>
    </div>
</div>

<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-8 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-[calc(100% + 20px)] max-w-xl max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-slate-600">
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-white">
                    Booking
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="mx-8 mt-8">
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of people</label>
                <input type="number" id="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    value="1" required>
            </div>
            <div class="p-6 space-y-6 w-fit mx-auto">
                <div inline-datepicker data-date="12/25/2023"></div>
            </div>
            <h1 class="text-xl -mb-4 px-8 text-white font-bold">MMK 40000 / day</h1>
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button" class="text-white bg-emerald-600 hover:bg-emerald-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Book Now</button>
                <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
            </div>
        </div>
    </div>
</div>{% endblock %} {% block script %} {% endblock %}