{% extends "base.html" %}{% block video %}
<div class="relative">
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <h2 class="text-white drop-shadow-xl p-2 text-6xl font-bold">{{place.name}}</h2>
    </div>
    <img class="w-full object-cover h-auto lg:h-[400px]" src="{{place.image1}}">
</div> {% endblock %} {% block content %}
<div class="my-8 rounded-2xl p-8 bg-emerald-600">
    <h1 class="text-white text-2xl font-bold">Facinating Facts <span class="fa fa-star"></span></h1>
    <ol class="list-disc mt-6 text-white">
        <li class="">{{place.fact1}}</li>
        <li class="mt-4">{{place.fact2}}</li>
        <li class="mt-4">{{place.fact3}}</li>
    </ol>
</div>
<div class="bg-white p-8 my-8 rounded-2xl shadow-md">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <img class="col-span-1" src="{{place.image2}}">
        <div class="col-span-3">
            <p class="">{{place.text1}}</p>
        </div>
    </div>
    <p class="mt-4">{{place.text2}}
    </p>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <img class="order-2 col-span-1" src="{{place.image3}}">
        <div class="mt-6 col-span-3 order-1">
            <p class="">
                {{place.text3}} </p>
        </div>
    </div>
    <p class="mt-4">{{place.text4}}
    </p>
    <div class="mt-6 bg-emerald-600 p-4">
        <h1 class="text-2xl text-white">History</h1>
        <p class="mt-6 text-white">{{place.history}}
        </p>
    </div>
    <div class="mt-6">
        <h1 class="text-2xl mb-8">How to get there</h1>
        {% if place.plane %}
        <div class="my-4 flex flex-row justify-start items-center">
            <span class="fa fa-plane text-4xl text-emerald-600"></span>
            <p class="px-4">{{place.plane}}</p>
            {% endif %}
        </div>
        {% if place.car %}
        <div class="my-4 flex flex-row justify-start items-center">
            <span class="fa fa-car text-4xl text-emerald-600"></span>
            <p class="px-4">{{place.car}}</p>
        </div>
        {% endif %} {% if place.ship %}
        <div class="my-4 flex flex-row justify-start items-center">
            <span class="fa fa-ship text-4xl text-emerald-600"></span>
            <p class="px-4">{{place.ship}}</p>
        </div>{% endif %} {% if place.train %}
        <div class="my-4 flex flex-row justify-start items-center">
            <span class="fa fa-train text-4xl text-emerald-600"></span>
            <p class="px-4">{{place.train}}</p>
        </div>{% endif %}

    </div>
</div>

<div class="border border-gray-300 rounded">
    <div class="flex">
        <button id="attractions-tab" class="w-1/2 py-2 px-4 bg-gray-200 text-gray-700 font-semibold rounded-t-md focus:outline-none" onclick="switchTab('attractions')">Top Attractions</button>
        <button id="hotels-tab" class="w-1/2 py-2 px-4 text-gray-700 font-semibold rounded-t-md focus:outline-none" onclick="switchTab('hotels')">Hotels</button>
    </div>
    <div class="p-4">
        <div id="attractions-content">
            <h2 class="text-2xl font-semibold my-6">Top Attractions</h2>
            <div class="my-6 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols">
                {% for attraction in attractions %}
                <div>
                    <img class="h-52 object-cover" src="{{attraction.image1}}">
                    <p class="text-xl mt-4">{{attraction.name}}</p>
                    <button onclick="window.open('/attraction/{{attraction.id}}', '_self')" class="px-8 py-2 bg-emerald-600 hover:bg-emerald-500 text-white mt-4 rounded-md">Read More</button>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="hotels-content" class="hidden">
            <h2 class="text-2xl font-semibold my-6">Hotels</h2>
            <p>Here are best hotels to stay in Bagan.</p>
            <div class="my-6 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols">
                {% for hotel in hotels %}
                <div>
                    <img class="h-52 object-cover" src="{{hotel.image}}">
                    <p class="text-xl mt-4">{{hotel.name}}</p>
                    <button onclick="window.open('/hotel/{{hotel.id}}', '_self')" class="px-8 py-2 bg-emerald-600 hover:bg-emerald-500 text-white mt-4 rounded-md">Book Now</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script>
    function switchTab(tab) {
        const attractionsTab = document.getElementById('attractions-tab');
        const hotelsTab = document.getElementById('hotels-tab');
        const attractionsContent = document.getElementById('attractions-content');
        const hotelsContent = document.getElementById('hotels-content');

        attractionsContent.classList.add('hidden');
        hotelsContent.classList.add('hidden');
        attractionsTab.classList.remove('bg-gray-200');
        attractionsTab.classList.remove('text-gray-700');
        hotelsTab.classList.remove('bg-gray-200');
        hotelsTab.classList.remove('text-gray-700');

        if (tab === 'attractions') {
            attractionsContent.classList.remove('hidden');
            attractionsTab.classList.add('bg-gray-200');
            attractionsTab.classList.add('text-gray-700');
        } else if (tab === 'hotels') {
            hotelsContent.classList.remove('hidden');
            hotelsTab.classList.add('bg-gray-200');
            hotelsTab.classList.add('text-gray-700');
        }
    }
</script> {% endblock %}