{% extends "base.html" %} {% block content %}
<div class="shadow-md my-12 p-12 w-96 mx-auto bg-white rounded-xl">
    <form action="/register" method="post">
        <h1 class="text-emerald-500 mb-8 font-bold text-2xl">Register</h1>
        <input class="block rounded-xl border-0 w-full mb-4 px-4 py-2 bg-stone-200" type="text" placeholder="Your Name" name="name" required>
        <input class="block rounded-xl border-0 w-full mb-4 px-4 py-2 bg-stone-200" type="text" placeholder="Email" name="email" required>
        <input class="block rounded-xl border-0 w-full mb-4 px-4 py-2 bg-stone-200" type="text" placeholder="Phone" name="phone" required>

        <input class="block rounded-xl border-0 w-full mb-4 px-4 py-2 bg-stone-200" type="password" placeholder="Password" name="password" required>
        <input class="block rounded-xl border-0 w-full mb-4 px-4 py-2 bg-stone-200" type="text" placeholder="Nrc No" name="nrc" required>
        <div class="p-6 space-y-6 w-fit mx-auto">
            <div class="relative max-w-sm">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </div>
                <input datepicker datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Select Birthday" id="date" name="date" required>
            </div>
        </div>
        <button class="rounded-xl block mt-8 bg-emerald-600 hover:bg-emerald-400 px-8 py-2 text-white ">Register</button> {% if message %}
        <div class="mt-4 px-8 py-2 rounded-xl bg-red-100 text-red-600">
            <p>{{message}} <span class="fa fa-warning"></span></p>
        </div>{% endif %}
        <p class="mt-8">Already have an account?
            <p class="text-emerald-600 cursor-pointer" onclick="window.open('/login', '_self')">Login now!</p>
        </p>
    </form>
</div> {% endblock %} {% block script %} {% endblock %}