{% extends "base.html" %} {% block content %}
<div class="shadow-md my-12 p-12 w-96 mx-auto bg-white rounded-xl">
    <form action="/register" method="post">
        <h1 class="text-emerald-500 mb-8 font-bold text-2xl">Register</h1>
        <input class="block rounded-xl border-0 w-full mb-4 px-4 py-2 bg-stone-200" type="text" placeholder="Your Name" name="name" required>
        <input class="block rounded-xl border-0 w-full mb-4 px-4 py-2 bg-stone-200" type="text" placeholder="Email" name="email" required>
        <input class="block rounded-xl border-0 w-full mb-4 px-4 py-2 bg-stone-200" type="password" placeholder="Password" name="password" required>
        <button class="rounded-xl block mt-8 bg-emerald-600 hover:bg-emerald-400 px-8 py-2 text-white ">Register</button> {% if message %}
        <div class="mt-4 px-8 py-2 rounded-xl bg-red-100 text-red-600">
            <p>{{message}} <span class="fa fa-warning"></span></p>
        </div>{% endif %}
        <p class="mt-8">Already have an account?
            <p class="text-emerald-600 cursor-pointer" onclick="window.open('/login', '_self')">Login now!</p>
        </p>
    </form>
</div> {% endblock %} {% block script %} {% endblock %}