{% extends "base.html" %} {% block content %}

<div class="rounded-xl my-8 bg-white p-8 shadow-md">
    <h1 class="text-xl font-bold"><span class="fa fa-file-circle-check text-emerald-500 text-4xl"></span> Visa and Immigration</h1>
</div>

<div class="rounded-xl my-8 bg-white p-12 shadow-md">
    <h1 class="font-bold mb-4">VISA EXEMPTION
    </h1>
    <p class="text-stone-500 mb-6">We have a visa exemption for the passport holder of the following countries.
    </p>
    <ul class="list-disc">
        <li>Brunei</li>
        <li>Cambodia</li>
        <li>Hong Kong – visa free for tourism only</li>
        <li>Indonesia</li>
        <li>Japan – visa-free for tourism only</li>
        <li>Laos</li>
        <li>Macao – visa-free for tourism only</li>
        <li>Philippines</li>
        <li>Singapore</li>
        <li>South Korea – visa-free for tourism only</li>
        <li>Thailand (for air arrivals only)</li>
        <li>Vietnam</li>
    </ul>
    <p class="mt-6 text-stone-500">Visa holders can stay in our country for tourism or business for a specified number of days subject to terms and conditions.
    </p>
</div>

<div class="rounded-xl my-8 bg-white p-12 shadow-md">
    <h1 class="font-bold mb-4">VISA on Arrival
    </h1>
    <p class="text-stone-500 mb-6">Holders of passports issued by China and India may obtain a tourist visa on arrival which will be valid for 30 days. The visa fee in such cases will be USD 50.
    </p>
</div>

<div class="rounded-xl my-8 bg-white p-12 shadow-md">
    <h1 class="font-bold mb-4">EVISA
    </h1>
    <p class="text-stone-500 mb-6">Myanmar issues eVisa for tourism and business purposes only. eVisa is issued within 3 days of receiving an application and is valid for 90 days from the date of issues where one can stay up to 28 days at a stretch for tourism and 70 days for business.
        The fees for issuing eVisa is USD 70 and tourist visa is USD 50. Visa is issued free of cost for children below 7 years of age. Holders of eVisa must enter the country through the following ports:
    </p>
    <ul class="list-disc">
        <li>Yangon International Airport</li>
        <li>Nay Pyi Taw International Airport</li>
        <li>Mandalay International Airport</li>
        <li>Kawthaung Land Border Checkpoint with Thailand</li>
        <li>Myawaddy Land Border Checkpoint with Thailand</li>
        <li>Tachileik Land Border Checkpoint with Thailand</li>
        <li>Rih Khaw Dar Land Border Checkpoint with India</li>
        <li>Tamu Land Border Checkpoint with India</li>
    </ul>
</div>

<div class="rounded-xl my-8 bg-white p-12 shadow-md">
    <h1 class="font-bold text-2xl mb-8">PROCEDURE FOR OBTAINING VISA FOR MYANMAR
    </h1>
    <div class="my-8">
        <h1 class="font-bold mb-4">EVISA</h1>
        <p>You can apply eVisa to Myanmar online by visiting the official Government site https://evisa.moip.gov.mm
        </p>
    </div>

    <div class="my-8">
        <h1 class="font-bold mb-4">TOURIST VISA
        </h1>
        <p>You can apply for a tourist visa in person at any Myanmar Embassy around the world. Click here for the contact information of the nearest Myanmar Embassy.
        </p>
    </div>

    <div class="my-8">
        <h1 class="font-bold mb-4">BUSINESS VISA, AND OTHER VISA TYPES AND PERMANENT RESIDENCY (PR CARD) </h1>
        <p>For information on other types of visa, please visit
            <a href="http://www.mewashingtondc.org/content/visa-and-permanent-residency" class="text-emerald-600 underline cursor-pointer">http://www.mewashingtondc.org/content/visa-and-permanent-residency</a>
        </p>
    </div>
</div>
{% endblock %}